@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h1 class="text-center text-primary">@ViewData["Title"]</h1>
                <p class="text-center text-muted">Vui lòng nhập email của bạn để lấy lại mật khẩu.</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">
                        <i class="fas fa-sync-alt"></i> Reset Password
                    </button>
                </form>

                <hr class="my-4">

                <div class="text-center">
                    <p class="text-muted">Nhớ lại mật khẩu? <a asp-page="./Login" class="text-decoration-none">Đăng nhập</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
